{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
<div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><center><img src="https://cdn.discordapp.com/attachments/306215434762584074/475758931587760138/a6eac80a-f609-4b1a-a799-633404cab7bb.jpg" width="350.33" height="261.27"><br><br>Estamos ansiosos para ter você conosco!</center></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4" style="width: 350px;">
            <forma>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome:</label>
                    <input type="text" class="form-control" id="nome"  placeholder="Nome" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sobrenome:</label>
                    <input type="text" class="form-control" id="sobrenome"  placeholder="Sobreome" required>

                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Data Nascimento:</label>
                <input type="text" class="form-control" id="dtnascimento"  placeholder="XX/XX/XXXX" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sexo:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="M" required>
                        <label class="form-check-label" for="inlineRadio1">Masculino</label>

                        <input class="form-check-input" type="radio" name="sexo" id="sexo1" value="F" >
                        <label class="form-check-label" for="inlineRadio2">Feminino</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF:</label>
                    <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp" placeholder="XXX.XXX.XXX-XX" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Celular:</label>
                    <input type="text" class="form-control" id="celular" aria-describedby="emailHelp" placeholder="(XX) XXXXX-XXXX" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" aria-describedby="emailHelp" placeholder="(XX) XXXX-XXXX" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome do Pai:</label>
                    <input type="text" class="form-control" id="nomePai" aria-describedby="emailHelp" placeholder="Nome do Pai" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CEP:</label>
                    <input type="text" name="cep" class="form-control" id="cep" aria-describedby="emailHelp" placeholder="XXXXX-XXX" required>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Complemento:</label>
                    <input type="text" class="form-control" id="complemento" aria-describedby="emailHelp" placeholder="Número" required>

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Login:</label>
                    <input type="text" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Login" required>

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Senha:</label>
                    <input type="password" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Senha" required>

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Foto RG/CNH:</label>
                    <input type="file" class="form-control"  required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Foto RG:</label>
                    <input type="file" class="form-control"  required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Foto RG:</label>
                    <input type="file" class="form-control"  required>
                </div>


                <button type="button" id="btn-salvar" name="btn-salvar" class="btn btn-primary btn-lg" role="button">Efetuar Registro!</button>


            </forma>
        </div>
        <div class="col-sm-4"></div>
    </div>

{% endblock %}

{% block javascripts %}
        {% javascripts
            '@UsuarioBundle/Resources/public/js/registroUsuario.js'
            '@UsuarioBundle/Resources/public/js/bootbox.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
{% endblock %}
    



