{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <forma>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome:</label>
                    <input type="text" class="form-control" id="nome"  placeholder="Nome">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sobrenome:</label>
                    <input type="text" class="form-control" id="sobrenome"  placeholder="Sobreome">

                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Data Nascimento:</label>
                <input type="text" class="form-control" id="dtnascimento"  placeholder="XX/XX/XXXX">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Sexo:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="M">
                        <label class="form-check-label" for="inlineRadio1">Masculino</label>

                        <input class="form-check-input" type="radio" name="sexo" id="sexo1" value="F">
                        <label class="form-check-label" for="inlineRadio2">Feminino</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF:</label>
                    <input type="text" class="form-control" id="cpf" aria-describedby="emailHelp" placeholder="XXX.XXX.XXX-XX">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Celular:</label>
                    <input type="text" class="form-control" id="celular" aria-describedby="emailHelp" placeholder="(XX) XXXXX-XXXX">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone:</label>
                    <input type="text" class="form-control" id="telefone" aria-describedby="emailHelp" placeholder="(XX) XXXX-XXXX">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome do Pai:</label>
                    <input type="text" class="form-control" id="nomePai" aria-describedby="emailHelp" placeholder="Nome do Pai">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CEP:</label>
                    <input type="text" name="cep" class="form-control" id="cep" aria-describedby="emailHelp" placeholder="XXXXX-XXX">

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Complemento:</label>
                    <input type="text" class="form-control" id="complemento" aria-describedby="emailHelp" placeholder="Número">

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Login:</label>
                    <input type="text" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Login">

                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Senha:</label>
                    <input type="password" class="form-control" id="senha" aria-describedby="emailHelp" placeholder="Senha">

                </div>


                <button type="button" id="btn-salvar" name="btn-salvar" class="btn btn-primary btn-lg" role="button">Efetuar Registro!</button>


            </forma>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {% javascripts %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


    {% javascripts
        '@UsuarioBundle/Resources/public/js/registroUsuario.js'
        '@UsuarioBundle/Resources/public/js/bootbox.min.js'
    %}
    {% endjavascripts %}

{% endblock %}


